<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .main {
            display: -webkit-box; /* wkhtmltopdf uses this one */
            display: flex;
            flex-direction: row;
            -webkit-box-pack: center; /* wkhtmltopdf uses this one */
            justify-content: space-between;
            width: 100%;
            height: 100px;
        }
    </style>
</head>
<body style="width: 1000px">
    <div class="main">
        <div style="width: 50%">
            <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" alt="" style="width: 50px; height: 50px">
            <p style="float: left">Vigie COVID</p>
        </div>
        <div style="width: 50%; text-align: right">

        </div>
    </div>
</body>
</html>
